body {
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
    background-color: blanchedalmond;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
}

h1 {
    margin: 0;
}

.container {
    width: min(800px, 80%);
    height: 1000px;
    background-color:#223;
    margin: 10px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.game {
    background-color: #aaa;
    width: min(320px, 80%);
    height: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
}
table {
    margin: 0 auto;
}

input {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: aliceblue;
    border-radius: 5px;

    font-family: "Varela Round", sans-serif;
    color: red;
    font-size: 60px;
}

td {
    width: 100px;
    height: 100px;
}
.score {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 500;
    color: black;
    text-align: center;
}

#reset {
    font-size: 20px;
    color: black;
    background-color: antiquewhite;
    width: 100px;
    height: 60px;
}